.title{
  display: flex;
  border: 3px solid orange;
  font-size: 10vw;
  margin: 5px;


  .title-filled{
    color: white;
    background-color: orange;
    padding: 0 2vw;
  }

  .title-see-through{
    padding: 0 2vw;
    color: orange;
    background-color: white;
  }
}
