<div class="detail-flex">
    <div class="detail-image">
        <img *ngIf="product.imageName" [alt]="product.description" [src]="product.imageName">
    </div>
    <div class="detail-sidebar">
        <span class="detail-title">{{product.productName}}</span>
        <span class="detail-description">{{product.description}}</span>
        <span>
            <span class="price">{{product.normalPrice | currency:'CHF '}}</span>
            <span class="reduced-price">{{product.specialOffer | currency:'CHF '}}</span>
        </span>
        <button (click)="addToBasket()" class="detail-button">
            Zum Warenkorb hinzufügen
        </button>
    </div>
</div>
