.overview-flex {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.overview-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;

  .overview-image {
    width: 300px;
  }

  .overview-title {

  }

  .price {
    padding-right: 5px;
    color: red;
    text-decoration: line-through;
  }
}
