<app-mini-cart></app-mini-cart>
<div class="cart">
    <table>
        <tr>
            <th>Produkt</th>
            <th>Einzelpreis</th>
            <th>Anzahl</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let tuple of cart">
            <!-- reading tuples is hella ugly-->
            <td>{{tuple[0].productName}}</td>
            <td>{{(tuple[0].specialOffer ? tuple[0].specialOffer : tuple[0].normalPrice) | currency: 'CHF '}}</td>
            <td class="cart-amount">
                <button (click)="removeProduct(tuple[0].id)">-</button>
                {{tuple[1]}}
                <button (click)="addProduct(tuple[0].id)">+</button>
            </td>
            <td>{{(tuple[0].specialOffer ? tuple[0].specialOffer : tuple[0].normalPrice) * tuple[1] | currency: 'CHF '}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>{{productService.totalCartPrice | currency: 'CHF '}}</th>
        </tr>
    </table>
    <div class="cart-actions">
        <button (click)="routeToCheckout()" [disabled]=" cart && cart.length === 0">Checkout</button>
    </div>
</div>
